@import ../../styles/helpers

.commentList
  margin-top: 1rem
  margin-bottom: 1rem
  padding-bottom: 1rem
  max-height: 600px
  overflow-y: auto
  scrollbar-width: thin
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent

  &::-webkit-scrollbar-button
    display: none !important
    height: 0 !important
    width: 0  !important

  //border: 1px solid lighten($shades1,30)
  //box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.05)
  &::-webkit-scrollbar
    width: 5px
  &::-webkit-scrollbar-track
    background: transparent /* Прозрачный фон */
  &::-webkit-scrollbar-thumb
    background: rgba(0, 0, 0, 0.3) /* Серый цвет как на первом скриншоте */
    border-radius: 3px /* Легкое скругление углов */


.container
  margin-top: 1rem
  font-weight: 600
  color: $shades2
  display: flex
  gap: 24px
  flex-direction: column

.dateGroup
  margin-bottom: 24px

  &:last-child
    margin-bottom: 0

.dateHeader
  font-size: 16px
  color: #6F767E
  margin-bottom: 16px

.container
  margin-bottom: 16px

  &:last-child
    margin-bottom: 0

.empty
  text-align: center
  color: #6F767E
  padding: 24px
  font-size: 14px