.codex-editor__redactor{
  padding-top: 12px;
  padding-bottom: 180px !important;
  border: 2px #EFEFEF solid;
  border-radius: 12px;
  margin-bottom: 16px;
  font-weight: 500;
}
.codex-editor{
  z-index: 0;
}